/*start variables*/
:root {
  --main-color: #555;
}
/*end variables*/
/* start glopal rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/*small*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*end global rules*/
/*start components*/
.special-heading {
  color: var(--main-color);
  letter-spacing: 2px;
  font-size: 20px;
  line-height: 10px;
  font-weight: 500;
  text-align: center;
}
.special-heading + div {
  background-color: #f101ea;
  height: 5px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}
/*end components*/
/*start header*/
header {
  padding: 0;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  color: var(--main-color);
}
header .container .links {
  position: relative;
}
header .container i {
  display: none;
  font-size: 30px;
}
.links ul {
  display: flex;
  list-style: none;
}
.links ul li {
  font-size: 20px;
  padding-left: 50px;
}
.links ul li a {
  color: var(--main-color);
  list-style: none;
  text-decoration: none;
}
@media (max-width: 768px) {
  .links ul {
    display: none;
  }
  header .container i {
    display: block;
  }
  header .links ul {
    position: absolute;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    right: 0;
    top: calc(100% + 15px);
    min-width: 200px;
    display: none;
    background-color: rgb(255, 255, 255);
  }
  header .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
  }
  header .links:hover ul {
    display: block;
  }
  header .links a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: var(--main-color);
    transition: 0.3s;
  }
  header .links a:hover {
    padding-left: 25px;
  }
  header .links ul li:not(:last-child) {
    border-bottom: 1px solid #ddd;
  }
}
/*end header*/
.landing {
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  height: calc(100vh - 80px);
  background-image: url(../images/login.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
form {
  padding: 10px;
  backdrop-filter: blur(20px);
  background-color: transparent;
  border-radius: 10px;
  border: 3px solid rgb(255 255 255 / 0.2);
  max-width: 450px;
  margin: auto;
  box-shadow: -1px -1px 13px rgb(255 255 255 / 0.2);
}
form input {
  font-size: 50px;
  border: 3px solid rgb(255 255 255 / 0.2);
  padding-left: 30px;
  margin-bottom: 20px;
  width: 100%;
  display: block;
  color: white;
  font-size: 18px;
  height: 50px;
  border-radius: 50px;
  background-color: transparent;
}
label {
  color: white;
  display: flex;
}
form .check {
  padding-right: 5px;
  margin-top: -20px;
  margin-bottom: 0;
  width: 15px;
}
.forget {
  float: right;
  position: relative;
  top: -45px;
}
.landing h1 {
  color: white;
  display: flex;
  justify-content: center;
}
.landing p {
  color: white;
  display: flex;
  justify-content: center;
}
input::placeholder {
  color: white;
}
.login {
  color: black;
  background-color: white;
}
.login:hover {
  background-color: rgba(255, 255, 255, 0.788);
}
form i {
  color: white;
  height: 0;
  float: left;
  position: relative;
  top: -50px;
  left: 15px;
}
